// Tootekaardi kujundus
.product-card {
    width: 200px; /* laius */
    height: 540px; /* k6rgus */
    border: 2px solid rgb(245, 245, 245); /* Hall 2px joon ymber */
    border-radius: 5px; /* Nurkade ümardamine */
    padding: 30px 80px; /* Sisemine marginaal */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Varju efekt */
    background-color: #fff;
    margin-left: 40px;
    margin-bottom: 56px;
}

// .hinnakujundus {
//     font-weight: 600;
//     color: darkgreen;
// }

// Tootekaardi pildi m66tmed
.product-card img {
    width: 200px; /* laius */
    height: 300px; /* k6rgus */
}

// Toote kujundus 
.product {
    width: 100%; /* laius */
    border: 1px solid #c4c4c4; /* joon ümber */
    padding: 10px; /* sisemine marginaal */
    margin: 10px; /* v2line marginaal */
    display: flex-start; /* alusta algusest */
    box-sizing: border-box;
  }