.product-card {
    width: 160px;
    height: 500px;
    border-radius: 5px;
    padding: 30px 100px;
    padding-left: 48px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-left: 20px;
    margin-bottom: 56px;
}

.product-card img {
    width: 180px;
    height: 270px;
}

.product {
    width: 100%;
    border: 1px solid #c4c4c4;
    padding: 10px;
    margin: 10px;
    display: center;
    box-sizing: border-box;
  }