// Tootekaardi kujundus
.product-card {
    width: 160px; /* laius */
    height: 500px; /* k6rgus */
    border-radius: 5px; /* Nurkade ümardamine */
    padding: 30px 100px; /* Sisemine marginaal */
    padding-left: 48px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Varju efekt */
    background-color: #fff;
    margin-left: 20px;
    margin-bottom: 56px;
}

// Tootekaardi pildi m66tmed
.product-card img {
    width: 180px; /* laius */
    height: 270px; /* k6rgus */
}

// Toote kujundus 
.product {
    width: 100%; /* laius */
    border: 1px solid #c4c4c4; /* joon ümber */
    padding: 10px; /* sisemine marginaal */
    margin: 10px; /* v2line marginaal */
    display: center; /* alusta algusest */
    box-sizing: border-box;
  }