@import "./productCard.scss";

body {
  font-family: Arial, sans-serif;
}

header {
    background-color: #000000;
    color: fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
  }

  .logo {
text-decoration: none;
  }

.logo h1 {
    margin: 0;
    color: white;
  }

.alapealkiri {
    text-align: center;
    font-size: xx-large;
    margin-top: 40px;
  }

.ostuk2ru:visited {
    color:#fff;
}

.ostuk2ru {
    color:#fff;
}

.h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;

    width: 200px; /* Määrab pealkirja laiuse */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.kategooria {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    
    background-color: #eee;
    padding: 8px;
    border-radius: 30px;
  }

  .toote-nimi {
    display: inline-block;
    width: 180px;
    height: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 veergu */
    grid-gap: 10px; /* Vahe kaartide vahel */
    padding-top: 40px; /* Ülemine padding */
    justify-content: center; /* Keskjoondus horisontaalselt */
    align-items: start; /* Joondus ülemise serva järgi (valikuline) */
    background-color: #f7f7f7;
  }

.button {
  cursor: pointer;
  background-color: #2403aa;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 30px;
}

.button:hover {
  background-color: #2403aa;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #007bff; /* Muudame värvi hover'i efekti */
}

#category-menu {
    color: white;
} 

// "Osta" nupp
.buy-now {
    cursor: pointer;
    background-color: #2403aa;
    width: auto;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
}

// Osta nupp "hover" efekt
.buy-now:hover {
    background-color: #180270; 
}

// Jalus
footer {
  text-align: center;
  background: #000000;
  color: white;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}

#cart-items {
    margin-top: 20px;
}

#cart-total {
    font-weight: bold;
}

// "Tyhjenda ostukorv" nupp
#clear-cart {
    cursor: pointer;
    background-color: #2403aa;
    color: white;
    border: none;
    padding: 10px 12px;
    padding-top: 10px;
    border-radius: 30px;
    margin-top: 30px;
}

// Ostukorvi konteiner
#cart-container {
    display: none;
    position: fixed;
    top: 220px;
    left: 0px;
    width: 100vW;
    height: 100vh;
    background-color: #f7f7f7;
    padding: 40px;
}