@charset "UTF-8";
.product-card {
  width: 160px; /* laius */
  height: 500px; /* k6rgus */
  border: 2px solid rgb(245, 245, 245); /* Hall 2px joon ymber */
  border-radius: 5px; /* Nurkade ümardamine */
  padding: 30px 100px; /* Sisemine marginaal */
  padding-left: 48px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Varju efekt */
  background-color: #fff;
  margin-left: 20px;
  margin-bottom: 56px;
}

.product-card img {
  width: 180px; /* laius */
  height: 270px; /* k6rgus */
}

.product {
  width: 100%; /* laius */
  border: 1px solid #c4c4c4; /* joon ümber */
  padding: 10px; /* sisemine marginaal */
  margin: 10px; /* v2line marginaal */
  display: center; /* alusta algusest */
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #050046;
  color: fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  height: 30px;
}

.logo {
  text-decoration: none;
}

.logo h1 {
  margin: 0;
  color: white;
}

.alapealkiri {
  text-align: center;
  font-size: xx-large;
  margin-top: 40px;
}

.ostuk2ru {
  color: #fff;
}

.ostuk2ru:visited {
  color: #fff;
}

.kategooria {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  background-color: #f7f7f7;
  padding: 8px;
  border-radius: 30px;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.toote-nimi {
  display: inline-block;
  width: 200px;
  max-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 veergu */
  grid-gap: 0px; /* Vahe kaartide vahel */
  padding-top: 40px; /* Ülemine padding */
  justify-content: flex-start; /* Keskjoondus horisontaalselt */
  align-items: start; /* Joondus ülemise serva järgi (valikuline) */
  background-color: #f7f7f7;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

#category-menu {
  color: white;
}

.buy-now {
  cursor: pointer;
  background-color: #050046;
  text-decoration-color: #ffffff;
  color: #fff;
  width: 200px;
  height: 52px;
  border-color: #050046;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 800;
}

.buy-now:hover {
  background-color: #050046;
  color: rgb(255, 255, 255);
  font-weight: 800;
}

footer {
  text-align: center;
  background: #050046;
  color: white;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}

#cart-items {
  margin-top: 20px;
}

#cart-total {
  font-weight: bold;
}

#clear-cart {
  cursor: pointer;
  background-color: #050046;
  color: white;
  border: none;
  padding: 10px 12px;
  padding-top: 10px;
  border-radius: 30px;
  margin-top: 30px;
}

#cart-container {
  display: none;
  position: fixed;
  top: 220px;
  left: 0px;
  width: 100vW;
  height: 100vh;
  background-color: #f7f7f7;
  padding: 40px;
}

.hinnakujundus {
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */